psycopg2
sqlalchemy~=2.0.8
pandas~=1.5.3
seaborn~=0.12.2
tqdm~=4.65.0
asyncpg
fastapi~=0.95.1
uvicorn~=0.23.2
ipywidgets~=7.6.5
numpy~=1.23.5
pydantic~=1.10.7
requests~=2.31.0
traitlets~=5.9.0
protobuf==4.23.0
omegaconf~=2.3.0